.answers {
	h3 {
		background-color: #58595B;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-bottom: 0px;
		padding: 10px;
		color: white;
	}

	p {
		background-color: #EBEBEB;
		padding: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}